@use 'generic';

.paragraph--type--galleries {
    position: relative;
    display: flex;
    width: 680px;
    margin: auto;
    height: min-content;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    .field--name-field-title {
        position: absolute;
        top: 0px;
        font-size: 25px;
    }

    .field--type-fontawesome-icon {
        margin: 0px 10px;
        height: 100px;
        width: 50px;
        text-align: center;
        line-height: 100px;
        font-size: 30px;
        text-decoration: none;
        color: #000;
        &:hover {
            color: #fff;
        }
    }

    .field--name-field-back-scroll {
        background: linear-gradient(-90deg, $mainPurple 0%, RGB(150, 150, 150) 100%);
    }
    .field--name-field-forward-scroll {
        background: linear-gradient(90deg, $mainPurple 0%, RGB(150, 150, 150) 100%);
    }
}

.field--name-field-items {
    display: flex;
    width: 540px;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;  
    flex-wrap: nowrap;
    height: 256px+25px;
    .item-teaser {
        scroll-snap-align: start;
    }
}


@media all and (max-width: 840px) {
    .field--name-field-gallery .paragraph--type--galleries {
        left: 25px;
        width: 400px;
    }
     .field--name-field-items {
        width: 260px;
    }
}