@use 'generic';

// item on full view page
.node--type-item {
    .node__content {


        margin: auto;
        .field--name-field-item {
            font-size: 26px;
  


        }
        .field--name-field-price {
   
            font-size: 22px;
        }
        .img-fluid {
            margin: auto;
        }
        .field--name-field-flavor-text {
            font-size: 18px;
            font-style: italic;
        }
        .paragraph--type--item-description {
            height: 150px;
        }
        .paragraph--type--item-description > div {
            height: 26px;
        }
    }
}



// storefront grid, views-content all items.
.view-content {
    display: flex;
    flex-wrap: wrap;
}

// storefront row (item container), shrink to give items padding outside of links, 
.views-row {
    display: flex;
    padding-top: 25px;
}




// nested item teaser
.item-teaser {
    display: flex;

    .img-fluid {
        height: 256px;
        max-width: 256px;
    }
    // adjusting price banner
    .field--name-field-price {
        display: none;

        background: linear-gradient(90deg, $bannerGreen 50%, $mainPurple 130%);
        line-height: 20px;
        font-size: 18px;
        
        width: 60%;
        box-shadow: 1px 2px 0px RGB(0,0,0);


        position: absolute;
        z-index: 1;
        bottom: 10%;
        right: -2px;

        
    }
    .field--name-title {
        display: none;

        text-decoration: none;
        background: linear-gradient(90deg, $bannerGreen 50%, $mainPurple 130%);
        // background-color: $bannerGreen;
        color: black;
        font-size: 20px;
        line-height: 26px;

        width: 60%;           
        box-shadow: 1px 2px 0px RGB(0,0,0);

        
        position: absolute;
        z-index: 1;
        bottom: 18%;
        right: -2px;

    }

}


// filters at side
.view-filters {
    display: flex;
}

@media all and (min-width: 840px) {
    .view-content {
        width: 80%;
    }
    .view-filters {
        display: flex;
        float: left;
        width: 15%;
    }
    .views-row {
        width: 30%;
    }

}

